<template>
  <div>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <br />
      <div>
        <b-button type="button" variant="info"
          ><b-link href="/simLogin" class="text-light">LOGIN</b-link></b-button
        >

        <b-button type="button" variant="info"
          ><b-link href="/simJoin" class="text-light">JOIN</b-link></b-button
        >
      </div>
    </b-form>
  </div>
</template>

<script>
export default {
  name: "SimMain",
  data() {
    return {
      show: true,
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      alert(JSON.stringify(this.form));
    },
    onReset(event) {
      event.preventDefault();
      // Reset our form values
      this.form.email = "";
      this.form.name = "";
      this.form.food = null;
      this.form.checked = [];
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
};
</script>