<template>
  <div>
    <!-- 보여질곳인 이곳에 필드속성을 추가한다 -->
    <!--row-clicked참고: https://bootstrap-vue.js.org/ -->
    <b-table striped hover :items="items" :per-page="perPage" :current-page="currentPage" :fields="fields" @row-clicked="rowClick"></b-table>
    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      align="center"
    ></b-pagination>
    <b-button @click="writeContent">글쓰기</b-button>
  </div>
</template>

<script>
// 데이터를 불러오고
import data from '@/data'

export default {
  name: 'Board',
  data() {
    // 글번호가 1,2,3,순서로나와있는데 실제 게시판에서는 역순으로나옴 최신순이기때문에그 소팅하는부분
    // sort는 인자로 함수를 받는데보통 내림차순은 b-a 인데 컨텐트아이디위주로 하기때문에 아래처럼 지정해준다
    let items = data.Content.sort((a,b) => {return b.content_id - a.content_id})
    // 데이터를 보면 컨텐트배열에 객체속성에 유저아이디는있고 이름은없는데 유저네임은 유저배열에서 가져옴 컨텐트배열에 유저아이디를가지고있고 그 아이디를 받아서 유저배열에서 어떤객체가 유저아이디를 가지고있는지 확인하고 그걸 가져와서 네임속성가져올수있음
    // 필터참조: https://developer.mozilla.org/ko/docs/Web/JavaScript/Reference/Global_Objects/Array/filter
    // 맵참조: https://developer.mozilla.org/ko/docs/Web/JavaScript/Reference/Global_Objects/Array/map
    //위 두함수 배열관련 함수 
    //맵에들어가는함수 첫번째 인자는 배열각각 
    items = items.map(contentItem => {return {...contentItem, user_name: data.User.filter(userItem => userItem.user_id === contentItem.user_id)[0].name}})

    return {
      //필요없어보이는 부분을 없애고 보이고싶은부분만 보이게만들기위해 필드를 만든다
      currentPage: 1,
      perPage: 10,
      fields: [
        {
          key: 'content_id',
          label: '글번호',
        },
        {
          key: 'title',
          label: '제목',
        },
        {
          key: 'created_at',
          label: '등록일'
        },
        {
          key: 'user_name',
          label: '글쓴이'
        },
      ],
      //소팅한 아이템 불러온다
      items: items
    }
  },
  methods: {
    // 아이템: 클릭된 로우 그자체 > 인덱스: 클릭된 루우의 인덱스 > 클릭당시의 이벤트 정보
    //클릭시 해당 컨텐츠 아이디를 받아서 아래의 패스로 이동시킬것임 
    rowClick(item) {
      this.$router.push({
        path: `/board/free/detail/${item.content_id}`
      })
    },
    writeContent() {
      this.$router.push({
        path: '/board/free/create'
      })
    }
  },
  computed: {
    rows() {
      return this.items.length
    }
  }
}
</script>