<template>
  <div class="comment-create">
    <b-input-group :prepend="name" class="mt-3">
      <b-form-textarea
        id="textarea"
        v-model="context"
        :placeholder="isSubComment ? '덧글에 덧글을 달아주세요~!' : '코멘트를 달아주세요~!'"
        rows="3"
        max-rows="6"
      ></b-form-textarea>
      <b-input-group-append>
        <b-button variant="info" @click="isSubComment ? createSubComment() : createComment()">작성하기</b-button>
      </b-input-group-append>
    </b-input-group>
  </div>
</template>
<script>
import data from "@/data";
export default {
  name: "CommentCreate",
  props: {
    contentId: Number,
    reloadComments: Function,
    reloadSubComments: Function,
    subCommentToggle: Function,
    isSubComment: Boolean,
    commentId: Number,
  },
  data() {
    return {
      name: "르라나",
      context: ""
    };
  },
  methods: {
    createComment() {
      //커멘트배열의 마지막배열의 +1한것임 > 데이터 커멘트의 마지막 객체의 +1한것을 가져옴: 새로 푸쉬할것
      const comment_id = data.Comment[data.Comment.length - 1].comment_id + 1;
      //가져온데이터를 커멘트에 푸쉬해준다
      data.Comment.push({
        comment_id: comment_id,
        //로그인기능이없어 임의로 1을 지정해줌
        user_id: 1,
        //게시물의 해당 관련된 번호인데 커멘트리스트.뷰에서 프롭스로 컨텐츠 아이디 번호타입을 가져와있는데 그걸 커멘트 크리에이스.부로 전달해준다
        //커멘드크리에잇에서 프롭스로 컨텐트아이디를 위로 넘겨준다 그럼 그 컨텐츠 아이디를 크리에있에서 프롭스로 사용가능 
        content_id: this.contentId,
        context: this.context,
        created_at: "2019-04-19 14:11:11",
        updated_at: null
      });
      //프롭스로 전달받은 reloadComments 넣어주고 이곳에서 리로드 커멘트함숲호출하고 다시 빈문자로 값을 넘겨준다
      this.reloadComments();
      this.subCommentToggle();
      this.context = "";
    },
    //위함수에서 코멘트 아이디를 가져온것 서브로 같게해주면되고 컨텐트아이디를 프롭스로가져온것처럼 코멘트아이디를 프롭스로 가져옴 
    //위 통째로 가져오고 이름은 서브용으로 바꾸구
    createSubComment() {
      const subcomment_id = data.SubComment[data.SubComment.length - 1].subcomment_id + 1;
      //컨텐트아이디를 코멘트 아이디로 바까구 프롭스로 가져와야됨  27라인 그리고 토글또한 만들어서 코멘트 아이디를 코멘 오브젝트의 코멘아이디로 받아서 넘겨준다
      //코멘트라인아이템뷰에서 16~라인부터 지정해준다
      data.SubComment.push({
        subcomment_id: subcomment_id,
        comment_id: this.commentId,
        user_id: 1,
        //현재 가지고있는 컨텍스트를 넣어줌
        context: this.context,
        //임의의 값을 넣어줌
        created_at: "2019-04-19 16:22:11",
        //
        updated_at: null
      });
      this.reloadSubComments();
      this.subCommentToggle();
      this.context = "";
    },
  }
};
</script>
<style scoped>
.comment-create {
  display: flex;
  margin-bottom: 1em;
}
</style>
