<template>
  <div>
    <div :key="item.comment_id" v-for="item in comments">
      <CommentListItem :commentObj="item"/>
    </div>
    <CommentCreate :contentId="contentId" :reloadComments="reloadComments"/>
  </div>
</template>
<script>
import data from "@/data";
import CommentListItem from './CommentListItem';
//커멘드크리에잇에서 프롭스로 컨텐트아이디를 위로 넘겨준다 그럼 그 컨텐츠 아이디를 크리에있에서 프롭스로 사용가능 
import CommentCreate from './CommentCreate';
export default {
  name: "CommentList",
  props: {
    contentId: Number
  },
  components: {
    CommentListItem, 
    CommentCreate,
  },
  data() {
    return {
      comments: data.Comment.filter(item => item.content_id === this.contentId),
    }
  },
  methods: {
    //값은 변경이되었는데 새로고침이안도어서 다시 리로드기능 위의 리턴과같이 값을 전달하고 
    //리로드커멘트함수를 프롭스로 넘겨준다커멘트크리에잇뷰에서 
    reloadComments() {       //단순히 다시 정의해줌 위의 코드를 작성하고 프롭스로 넘긴다
      this.comments = data.Comment.filter(item => item.content_id === this.contentId)
    }
  }
};
</script>
