<template>
  <div>
    <b-card>
      <div class="content-detail-content-info">
        <div class="content-detail-content-info-left">
          <div class="content-detail-content-info-left-number">
            {{contentId}}
          </div>
          <div class="content-detail-content-info-left-subject">
            {{title}}
          </div>
        </div>
        <div class="content-detail-content-info-right">
          <div class="content-detail-content-info-right-user">
            글쓴이: {{user}}
          </div>
          <div class="content-detail-content-info-right-created">
            등록일: {{created}}
          </div>
        </div>
      </div>
      <div class="content-detail-content">
        {{context}}
      </div>
      <div class="content-detail-button">
        <b-button variant="primary" @click="updateData">수정</b-button>
        <b-button variant="success" @click="deleteData">삭제</b-button>
      </div>
      <div class="content-detail-comment">
        <CommentList :contentId="contentId"/>
      </div>
    </b-card>
  </div>
</template>


<script>
import data from "@/data";
import CommentList from './CommentList'
export default {
  name: "ContentDetail",
  components: {
    CommentList
  },
  data() {
        //data안에있어야 정상적으로 삭제가됨 43~47
        //라우트에서가져온 컨텐츠아이디 변수로 저장하고
    const contentId = Number(this.$route.params.contentId);
        //data.Content 필터걸러서 현대 컨텐츠해당하는 데이터를 가져온다음 contentData변수에 저장함 
    const contentData = data.Content.filter(item => item.content_id === contentId)[0]
        //현재필요한 데이터를 가져온다 라우터에서 가져온 컨텐트아이디, 컨텐트 데이터에 타이틀 ....
    return {
      contentId: contentId,
      title: contentData.title,
      context: contentData.context,
            //데이터에 유저배열을 가져와서 컨텐트에 일치하는거의 유저이름을 가져와서 각각 디브에 넣어줌 
      user: data.User.filter(item => item.user_id === contentData.user_id)[0]
        .name,
      created: contentData.created_at
    };
  },
  methods: {
    deleteData() {
      const content_index = data.Content.findIndex(item => item.content_id === this.contentId);
      data.Content.splice(content_index, 1)
      this.$router.push({
        path: '/board/free'
      })
    },
    updateData() {
      //이동까지만시키는것이 여기서할일 > 루터에가서 뒤에 컨텐트아이디를 붙여줘야함 필수는아니고 선택적으로 들어가기에 뒤에 물음표붙여줌
      this.$router.push({
        //수정누르면 보드 번호뒤에 숫자가 같이 뜰것임
        path: `/board/free/create/${this.contentId}`
      })
    }
  }
};
</script>
<style scoped>
.content-detail-content-info {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.content-detail-content-info-left {
  width: 720px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.content-detail-content-info-right {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.content-detail-content {
  border: 1px solid black;
  margin-top: 1rem;
  padding-top: 1rem;
  min-height: 720px;
}
.content-detail-button {
  border: 1px solid black;
  margin-top: 1rem;
  padding: 2rem;
}
.content-detail-comment {
  border: 1px solid black;
  margin-top: 1rem;
  padding: 2rem;
}
</style>
