<template>
  <div>
    <!-- div지정안해주면 에러뜸 
      
    Failed to compile.

    ./src/components/Create.vue
    Module Error (from ./node_modules/eslint-loader/index.js):

    /Users/shy/Desktop/Vue/연습/vue-board/src/components/Create.vue
    1:1  error  The template root requires exactly one element  vue/valid-template-root

    ✖ 1 problem (1 error, 0 warnings)
    -->
    <!-- 브이모델로 서브젝트를 바라보게한다 자동으로 연동되게함 -->
    <b-input v-model="subject" placeholder="제목을 입력해 주세요"></b-input>
    <!-- https://bootstrap-vue.org/docs -->    
    <b-form-textarea
      v-model="context"
      placeholder="내용을 입력해 주세요"
      rows="3"
      max-rows="6"
    ></b-form-textarea>
    <!-- 그래서 루터뒤에 번호를 준이유: 번호가 없으면 새로 만들기가되고 번호가 있으면 수정이 되게하기위함 created 에 있다 그내용은 -->
    <b-button @click="updateMode ? updateContent() : uploadContent()">저장</b-button>
    <b-button @click="cancle">취소</b-button>
  </div>
</template>

<script>
import data from '@/data'
export default {
  name: 'Create',
  data() {
    return {
            //브이모델사용해서 서브젝트 데이터를 바라보게한것임 인풋박스에서 서브젝트로 바로 연동이됨 
      subject: '',
      context: '',
      userId: 1,
      createdAt: '2019-04-17 11:32:42',
      updatedAt: null,
      updateObject: null,
      //업데이트모드에서 새글이작성되는게아니고 기존글이수정되게하려면 
      //이걸 데이터에추가하는데 디스라우터 파람 컨텐트아이디가 0이삭 적 숫자가있으면 트루고 없으면 펄스
      // 그렇다는건 트루면 업데이트 컨텍스트가 호출되고 펄스면 업로드 컨텐츠가 호출될것임 25번라인 
      updateMode: this.$route.params.contentId > 0 ? true :  false
    }
  },
  created() {
    //여기서 컴포넌트업데이트될때 컨텐트아이디가 0이상이면 즉 수정눌렀을때 숫자가있으면 수정모드이고
    if (this.$route.params.contentId > 0) {
      //파람으로 컨텐ㅌ츠아이디를 가져오고 
      const contentId = Number(this.$route.params.contentId)
      //업데이트할객체를 가져올껀데 데이터 컨텐트 배열에 필터를 걸러서 객체중 컨택트 아이디가 파람수가져온 아이디가일치하는걸 가져와서 그요소에서 첫번쨰 즉 0번째를 가져오는거
      this.updateObject = data.Content.filter(item => item.content_id === contentId)[0]
      //현재있는 섭젝트를 가져온객체에서 타이틀로 가져오고 
      this.subject = this.updateObject.title;
      //현재에서 컨텐츠도 가져온다는것임 
      this.context = this.updateObject.context;
    }
  },
  methods: {
    uploadContent() {
      // 컨텐트배열에 똑같이 구현되야하는데 유저아이디필요 컨텐트아이디는 자동생성 타이틀과 컨텐츠 지정하고 크리에잇과 업데이트는입력된값으로
      //자동으로 선택되게하고 데이터위에서 가져오게함
      let items = data.Content.sort((a,b) => {return b.content_id - a.content_id})
      //컨텐츠아이디 자동 계산 > 컨텐트데이터를 가져와서 최신순으로 한걸 아이템즈에 저장하고 가장최신컨텐츠배열가져오기위해
      //가장첫번째 최신이되니깐 
      const content_id = items[0].content_id + 1
      //푸시를 해준다 형식에 맞게 
      data.Content.push({
        //첫번째 아이템 배열의 컨텐ㅌ츠아이디 플러스 1한거를 넘겨주고
        content_id: content_id,
        //위 데이터에 브이모델로 연결되어있으니 거기넣는걸 리턴값 데이터안에 들어갈것이고 그것들이 푸쉬가될것임 여기서
        user_id: this.userId,
        title: this.subject,
        context: this.context,
        created_at: this.createdAt,
        updated_at: null
      })
      //게시판목록으로 돌아갈수있도록 해주기
      this.$router.push({
        path: '/board/free/'
      })
    },
    updateContent() {
      //지금가져온객체에 타이틀을 위에서 인풋에 작성한것으로 대체한다는것이고 아래 컨텍스트도 같은 말임
      this.updateObject.title = this.subject;
      this.updateObject.context = this.context;
      //그다음 라우터푸쉬로 게시판목록으로 돌아가게될것임 
      this.$router.push({
        path: '/board/free/'
      })
    },
    cancle() {
      this.$router.push({
        path: '/board/free/'
      })
    }
  }
}
</script>

<style>

</style>