<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="/">Vue 게시판 만들기</b-navbar-brand>
      <b-navbar-toggle target="nav_collapse" />
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item href="#">REMY | </b-nav-item>
          <b-nav-item href="/sim/main">SIM |</b-nav-item>
          <b-nav-item href="#">REMY BOARD |</b-nav-item>
          <b-nav-item href="#">SIM BOARD |</b-nav-item>

          <!-- 라우터이용하기위해서 href를to로고치고  
          <b-nav-item to="/board/free">참고: 자유게시판 |</b-nav-item>
          <b-nav-item to="/todoList">참고: TODO LIST</b-nav-item>
          <b-nav-item to="/todoListWithSearch">TODO LIST SEARCH</b-nav-item> -->
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {};
  },
};
</script>

