<template>
  <div>
        <!-- TodoHeader -->
        <header><h1>TODO it!</h1></header>
        <!-- TodoInput -->
        <div>
            <!--  키다운 이벤트를 실행하면 에드투두 매서드가 실행된다 
            1인풋 박스에 입력된 값을 v-model을 이용하여 양방향으로 데이터를 전달한다. 
             양방향은 인풋 값에 입력된 값이 뷰 데이터로 들어가고 뷰 데이터에 들어간 데이터가 인풋 박스에 바로 전달할수있게 해준다.
            2enter 키보드를 눌렀을때 addTodo가 호출되면서 새로운 리스트를 추가할수있다
            3플러스를 누러도 addTodo가 실행이된다.
            -->
            <input type="text" placeholder="what to do" v-model.trim="newTodoItem" @keyup.enter="addTodo" />
            <span @click="addTodo">
                +
            </span>
            <!--  if문을 주어 showModal의 값이 true가되면 엔터키를 누를시 on이벤트의 close가 실행이되여 창이 닫히도록한다
                
            -->
            <div class="modal-mask" @keydown.enter="$emit('close')" v-if="showModal" @close="showModal = false">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <div class="modal-header">
                            <h3 slot="header">경고</h3>
                        </div>
                        <!-- if문을 주어 showModal의 값이 true가되면 나타나게해주며 x를 클릭시 다시 보이지않도록한다 -->
                        <div class="modal-footer">
                            <span @click="showModal = false">할 일을 입력하세요. X</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- TodoList -->
        <!-- "checked(todoItem.done)"  <==> "todoItem.done ? 'checked': ''"  -->
        <section>
            <ul>
                <!-- 
                1키와 값을 todoItems에서 가져와 for문을 이용하여 in을 통해 length지정하지않아도 todoItems의 안의 갯수만큼
                반복문을 돌려준다.
                2클레스에 checked를 주어 line-through의 css기능을 주었으며 todoItem의 done값을 인자로 넘겨주어 done값의 참 거짓 값을 반환한다
                4동시에 doneToggle도 index값을 인자로 methods객체로 넘겨준다
                3클릭하게되면 해당 리스트를 지우게하는 removeTodo에 해당 index를 인자로 넘겨주어 methods객체로 넘겨준다
                -->
                <li v-for="(todoItem, index) in todoItems" :key="todoItem.id"
                    :class="checked(todoItem.done)" @click="doneToggle(index)">
                    {{ todoItem.todo }}
                    <span class="removeBtn" type="button" @click.stop="removeTodo(index)">
                        ㅡ
                    </span>
                </li>
            </ul>
        </section>
        <!-- TodoFooter -->
        <div>
            <!-- clear all을 클릭시 clearAll이벤트 호출하여 모든 리스트를 삭제한다 -->
            <span class="clearAllBtn" @click="clearAll">Clear All</span>
        </div>
  </div>
</template>
<script>
export default {
  name: 'TodoList',
  data() {
       return {
            showModal: false, /* 인풋박스에 값이 없는 경우 경고창 모달 숨김 */
            newTodoItem: '',  /* 새로 추가할 할일 리스트를 담을 공간 */
            todoItems: [
                {id: 1, todo: "dinner", done: false},
                {id: 2, todo: "watching movies", done: false},
                {id: 3, todo: "study ES6", done: false},
                {id: 4, todo: "go for walk", done: false}
            ],              /* 기본으로 들어가있는 할일 리스트 */
       }
  },
  methods: {
    checked(done) {
        /**
         * 리스트를 클릭하게되면 넘어온 값에 따라 true이면 checked를 실행하여 css의 line-through가 적용되고 false면 null값을 전달한다.
         */
        if(done) {
            return "checked";
        } else {
            return null;
        }
    },
    addTodo() {
        /**
         * 인풋에 값이 없을때 추가할시에 경고창 뜨게하기
         */
        console.log(this.newTodoItem)
        if(!this.newTodoItem){
            //alert('할 일을 입력하세요.');
            this.showModal = !this.showModal;
            return;
        }
        /**
         * 인자인 배열과 안의 요소들은 map을 통해 순회하며 원본 배열로 부터 자동 할당 받는다
         * arrIds에는 todoItems의 id값이 들어가있다.
         */
        const arrIds = this.todoItems.map(function(el) {
            return el.id;
        });
        /**
         * 배열의 숫자 중 가장 큰 값을 얻는데 위에서 할당받은 todoItems의 아이디값중 제일 큰 값에 1을 더한다
         * 새로운 리스트가 추가될때 제일 큰 값의 id값에 +1한다
         */
        const newid = Math.max(...arrIds) + 1;
        /**
         * 위의 값을 아래 newTodo에 정의하여 새로 추가할 newTodo목록위한 객체생성한다.
         * 새로운 리스트를 생성위한 newTodo안에 id값 증가위한 newid와 현재 인풋박스에 입력된 값, done의 초기값을 해준다
         */
        const newTodo = {
            id: newid,
            todo: this.newTodoItem,
            done: false,
        }
            /**
             * 이렇게 만들어진 새로운 값은 todoItems의 목록에 push메서드를 애용하여 배열의 끝에 newTodo를 추가한다
             * 추가가되면 인풋박스의 값은 빈값으로 처리하여 다음에 새로운 값 입력이 편의하도록 만들어준다.
             */
        this.todoItems.push(newTodo);
        this.newTodoItem = "";
    },
    /**
     * 클릭시 가져온 index값을 가져와 todoItem의 해당 index에서의 done값이 true이면 false로 false면 true로 변경해준다
     */
    doneToggle(index){
        this.todoItems[index].done = !this.todoItems[index].done;
    },
    /**
     * - 클릭시 넘어온 인자 index값을 가져와 todoItems의 선택된 index값을 시작으로 1개씩 삭제한다.
     *  다시 실행되지않기위해 이벤트 취소를 이용하여 click버블링을 막는다.
     * 
     *  사용자가 마우스로 웹페이지 내의 버튼을 클릭했을때 대부분의 사람들은 버튼만 반응했다고 생각하게 됩니다. 하지만 웹페이 내부에서는 
     *  
     *  버튼을 감싸고 있는 부모 태그들 또한 클릭 이벤트에 반응하게 됩니다
     *  
     *  버블링은 특정 요소에 이벤트가 발생시 해당 이벤트가 그 요소의 상위 요소로 전달되는 것인데 클릭한 지점이 
     *  하위엘리컨트라고 해도 그걸 감싸고 있는 상위 엘리먼트까지 올라가면서 이벤트가 중복발생하게된다.
     *  div안에 2개가 중복이되며 경고이벤트가 중복으로 발생하게되며 아래 123~124로인하여 방지할수있다.
     * 아래 두가지는 기본 이벤트의 자동 실행을 중지 시키고 이벤트의 전파를 막는다.
     * 
     */
    removeTodo(index) {
        this.todoItems.splice(index, 1);
    },
    /**
     * Clear All클릭시 todoItems값은 빈값으로 만들어주어 모두 없애게해준다 
     */
    clearAll() {
        this.todoItems = [];
    }
  },
}
// 참고: https://ismydream.tistory.com/98
</script>

<style>
    ul { list-style-type: none; }
    li.checked { text-decoration: line-through; }
    .removeBtn { color: #de4343; }
    .clearAllBtn { color: #e20303; }
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: table;
        transition: opacity 0.3s ease;
    }
    .modal-wrapper {display: table-cell;vertical-align: middle;}
    .modal-container {width: 300px;margin: 0px auto;padding: 20px 30px;background-color: #fff;}

</style>
